$color-black: #000000;
$color-blue1: #2361fb;
$color-blue2: #cce0ff;
$color-blue3: #f6f7fa;
$color-gray1: '7F7F7F';
$color-green: '#378352';
$color-red: '#EC1010';
$color-white: #ffffff;

$color-background: $color-blue3;
$color-text: $color-black;
