$base-value: 8px;

$layout-min-width: 320px;

$layout-unit-xxs: $base-value * 0.25;
$layout-unit-xs: $base-value * 0.5;
$layout-unit-sm: $base-value;
$layout-unit-md: $base-value * 2;
$layout-unit-lg: $base-value * 3;
$layout-unit-xl: $base-value * 4;
$layout-unit-xxl: $base-value * 5;


