$font-sans-serif: 'Inter', sans-serif;

/* Font Sizes */

$font-size-xs: 4px;
$font-size-sm: 8px;
$font-size-md: 16px;
$font-size-lg: 24px;
$font-size-xl: 32px;

/* Line Heights */

$font-line-height-xs: 4px;
$font-line-height-sm: 8px;
$font-line-height-md: 18px;
$font-line-height-lg: 28px;
$font-line-height-xl: 36px;

/* Font Weights */

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;
