*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  background-color: $color-background;
}

#app {
  background-color: $color-background;
  color: $color-text;
  font-family: $font-sans-serif;
  font-weight: $font-weight-regular;
  min-width: $layout-min-width;
  min-height: 100vh;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

h1,
.h1 {
  font-size: $font-size-xl;
  line-height: $font-line-height-xl;
  font-weight: $font-weight-bold;
}

h2,
.h2 {
  font-size: $font-size-lg;
  line-height: $font-line-height-lg;
  font-weight: $font-weight-bold;
}

h3,
.h3 {
  font-size: $font-size-md;
  line-height: $font-line-height-md;
  font-weight: $font-weight-bold;
}

h4,
.h4 {
  font-size: $font-size-sm;
  line-height: $font-line-height-sm;
  font-weight: $font-weight-semibold;
}

p {
  font-size: $font-size-md;
  line-height: $font-line-height-md;
  font-weight: $font-weight-regular;
}
